$lite-backgroud: #fff;
$box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.3);
$border-radius: 20px;
$primary-color: #123876;
$lite-color: #000;
$base-color: rgb(83, 83, 83);
$box-shadow-hover: 0px 3px 20px rgba(147, 144, 144, 0.4); 
$transition-hover: 0.4s;